/* Start of text section */
.text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px;
  margin-bottom: 10px;
}
.left {
  display: flex;
  flex-direction: column;
}
.text-container h4 {
  color: #6b6a73;
  font-size: 13px;
  margin: 0px;
}
.headi {
  font-size: 50px;
  margin-top: 10px;
}
.headi em {
  color: #6d5486;
}
.text-container p {
  margin-top: 55px;
  font-size: 20px;
  margin-right: 150px;
  color: #6b6a73;
}
/* End of text section */

/* Start of card section */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  padding: 0;
  border: 1px solid #11101424;
  border-radius: 20px;
  background-color: #e0e0e0;
  overflow: hidden;
  margin: 20px 40px 40px 40px;
}
.card-container p {
  color: #6b6a73;
}
.color {
  color: #6b6a73;
  font-size: 15px;
}
.card {
  padding: 40px;
  height: 200px;
  background-color: #ffffff;
}
.card:hover {
  background-color: #f7f6f4;
}
/* End of card section */

/* The first part of the section */

.text-image {
  background-color: #f7f6f4;
  margin-top: 95px;
}
.both {
  display: flex;
  gap: 45px;
}
.text-1 {
  color: #4b4a52;
  padding: 60px 30px 20px 30px;
}
.text-1 h2 {
  color: initial;
}
.text-1 h4 {
  color: #6b6a73;
  font-size: 15px;
}
.text-1 p {
  font-size: 20px;
}
.text-1 ul {
  font-size: 17px;
  padding-left: 16px;
}

.btn1 {
  border: 1px solid #11101424;
  background-color: #f7f6f4;
  color: #111014;
  border-radius: 35px;
  padding: 12px 20px;
  margin-top: 18px;
}
.btn1:hover {
  background-color: #11101412;
}
.image-1 img {
  width: 750px;
  margin-top: 60px;
}

/* The second part of the section */

.both-2 {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.image-2 img {
  width: 650px;
  margin-top: 60px;
}
.btn2 {
  border: 1px solid #11101424;
  background-color: #f7f6f4;
  color: #111014;
  border-radius: 35px;
  padding: 12px 25px;
  margin-top: 18px;
}
.btn2:hover {
  background-color: #11101412;
}

/* The third part of the section */
.both-3 {
  display: flex;
  gap: 45px;
}
.text-1 {
  margin-top: 50px;
}
.image-3 img {
  width: 750px;
  margin-top: 120px;
}
.btn3 {
  border: 1px solid #11101424;
  background-color: #f7f6f4;
  color: #111014;
  border-radius: 35px;
  padding: 12px 25px;
  margin-top: 19px;
}
